/* Backgroun color */
.grea-bg{
    background: #f4fbfc;
}
/* Button Color  */
.btn-manager{
    background: #59A5FF;
    color: white;
}
.btn-manager:hover{
    background-color: #2e7ee0;
    color: white;
}